<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/allExpense.css">
    <title>All Expenses</title>
</head>
<body>
    <p id="warning"></p>
    <h1>All Expenses and Incomes</h1>
    <table id="table">
        <tr>
            <th>S.No.</th>
            <th>Date</th>
            <th>Category</th>
            <th>Description</th>
            <th>Income</th>
            <th>Expesne</th>

        </tr>
    </table>
    <button id="download" class="download">download</button>
    <ul id="downloadedFiles">
        <h3>Downloaded Files</h3>
    </ul>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/JS/allExpense.js"></script>
</body>
</html>