<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/login.css">
    <title>Reset Password</title>
</head>

<body class="body-class">
    <header>
        <h1 class="heading">RESET PASSWORD</h1>
    </header>
    <div class="form-div">
        <form class="form-class" action="/password/resetPassword" method="POST">
            <div class="prompt"></div>
            <label for="passwordInput">New Password</label><br>
            <input type="password" class="form-input" id="passwordInput"><br>
            <button type="submit" class="submitBtn">Reset Password</button>
        </form>
        <div class="loginInfo"></div>
        <div>
            <a href="/user/login">For login click here</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/JS/resetPassword.js"></script>
</body>

</html>